/bootstrap/compiled.php
/storage/*.key
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/private/
/app/config/database.php
/app/storage/views
/public/logs_imageV2
/public/logs_image